**config**.h
!**config.exemple.h

**node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


*/android/
/V2/interface/app/
/V2/interface/build
/V2/interface/dev-dist
*.gradle/
*gradle/
*.idea/
*.iml
*.apk
*.apks
*output.json

*pwa