**config**.h
!**config.exemple.h

**node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.key
*.crt

# Ignorer tout dans le dossier pwa
V2/interface/pwa/**

# Sauf les fichiers que l'on souhaite suivre explicitement
!V2/interface/pwa/app/build.gradle
!V2/interface/pwa/app/src/main/res/values/strings.xml
!V2/interface/pwa/app/src/main/AndroidManifest.xml
!V2/interface/pwa/app/src/main/res/xml/network_security_config.xml
!V2/interface/pwa/app-release-signed.apk

# Réintégrer les dossiers parents nécessaires (car un dossier ignoré empêche Git de voir ses enfants)
!V2/
!V2/interface/
!V2/interface/pwa/
!V2/interface/pwa/app/
!V2/interface/pwa/app/src/
!V2/interface/pwa/app/src/main/
!V2/interface/pwa/app/src/main/res/
!V2/interface/pwa/app/src/main/res/values/
!V2/interface/pwa/app/src/main/res/xml/