.lights-header {
  width: auto;
  display: flex;

  align-items: top;
  gap: 0.5rem;
}

.lights-header > p > .content {
  max-width: 26.38px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.2rem;
}

.lights-header > p.loading > .content {
  font-size: 0.8rem;
}

.lights-header .tooltip {
  left: 0;
  width: max-content;
}

.lights-state {
  display: flex;
  justify-content: space-between;
  align-items: center;
}